<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Ainnomix_EtmAdminhtml::etm" title="Entity Type Manager" translate="title" sortOrder="60">
                    <resource id="Ainnomix_EtmAdminhtml::management" title="Manage Entity Types" translate="title" sortOrder="10" />
                </resource>
            </resource>
        </resources>
    </acl>
</config>
