<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Ainnomix\EtmAdminUi\Ui\Component\Form\EntityType\Control\SaveSplitButton" type="Magento\Backend\Ui\Component\Control\SaveSplitButton">
        <arguments>
            <argument name="targetName" xsi:type="string">etm_entity_type_form.etm_entity_type_form</argument>
        </arguments>
    </virtualType>
    <virtualType name="Ainnomix\EtmAdminUi\Ui\Component\Form\EntityAttributeSet\Control\SaveSplitButton" type="Magento\Backend\Ui\Component\Control\SaveSplitButton">
        <arguments>
            <argument name="targetName" xsi:type="string">etm_entity_attribute_set_form.etm_entity_attribute_set_form</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Backend\Model\Menu\Director\Director">
        <plugin name="etm_menu" type="Ainnomix\EtmAdminUi\Plugin\Menu\Director\DirectorPlugin" />
    </type>
    <type name="Magento\Framework\Acl\AclResource\Config\Reader\Filesystem">
        <plugin name="etm_menu" type="Ainnomix\EtmAdminUi\Plugin\Acl\AclResource\Config\Reader\FilesystemPlugin" />
    </type>

    <virtualType name="Ainnomix\EtmAdminUi\Controller\Adminhtml\EntityAttributeSet\Context" type="Ainnomix\EtmAdminUi\Controller\Adminhtml\Context">
        <arguments>
            <argument name="aclIdProvider" xsi:type="object">Ainnomix\EtmAdminUi\Model\Acl\TypeResource\AttributeSetIdProvider</argument>
        </arguments>
    </virtualType>
    <type name="Ainnomix\EtmAdminUi\Controller\Adminhtml\EntityAttributeSet\AbstractAction">
        <arguments>
            <argument name="typeContext" xsi:type="object">Ainnomix\EtmAdminUi\Controller\Adminhtml\EntityAttributeSet\Context</argument>
        </arguments>
    </type>

    <!-- Attribute controller configuration -->
    <type name="Ainnomix\EtmAdminUi\Controller\Adminhtml\EntityAttribute\Context">
        <arguments>
            <argument name="aclIdProvider" xsi:type="object">Ainnomix\EtmAdminUi\Model\Acl\TypeResource\AttributeIdProvider</argument>
        </arguments>
    </type>
    <type name="Ainnomix\EtmAdminUi\Controller\Adminhtml\EntityAttribute\AbstractAction">
        <arguments>
            <argument name="typeContext" xsi:type="object">Ainnomix\EtmAdminUi\Controller\Adminhtml\EntityAttribute\Context</argument>
        </arguments>
    </type>
    <type name="Ainnomix\EtmAdminUi\Controller\Adminhtml\EntityAttribute\Save">
        <arguments>
            <argument name="attributeLabelCache" xsi:type="object">Magento\Framework\App\Cache\Type\Translate</argument>
        </arguments>
    </type>
</config>
