<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="etm_entity_type_form_data_source" xsi:type="string">Ainnomix\EtmAdminUi\Model\ResourceModel\EntityType\Grid\Collection</item>
                <item name="etm_entity_type_listing_data_source" xsi:type="string">Ainnomix\EtmAdminUi\Model\ResourceModel\EntityType\Grid\Collection</item>
                <item name="etm_entity_attribute_form_data_source" xsi:type="string">Ainnomix\EtmAdminUi\Model\ResourceModel\EntityAttribute\Grid\Collection</item>
                <item name="etm_entity_attribute_listing_data_source" xsi:type="string">Ainnomix\EtmAdminUi\Model\ResourceModel\EntityAttribute\Grid\Collection</item>
                <item name="etm_entity_attribute_set_form_data_source" xsi:type="string">Ainnomix\EtmAdminUi\Model\ResourceModel\EntityAttributeSet\Grid\Collection</item>
                <item name="etm_entity_attribute_set_listing_data_source" xsi:type="string">Ainnomix\EtmAdminUi\Model\ResourceModel\EntityAttributeSet\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="Ainnomix\EtmAdminUi\Model\ResourceModel\EntityType\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">eav_entity_type</argument>
        </arguments>
    </type>
    <type name="Ainnomix\EtmAdminUi\Model\ResourceModel\EntityAttribute\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">eav_attribute</argument>
        </arguments>
    </type>
    <type name="Ainnomix\EtmAdminUi\Model\ResourceModel\EntityAttributeSet\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">eav_attribute_set</argument>
        </arguments>
    </type>
</config>
