<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="etm_entity_type_save_after">
        <observer name="etm_flush_menu_cache" instance="Ainnomix\EtmAdminUi\Observer\FlushMenuCacheObserver" />
    </event>
</config>
