<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Ainnomix\EtmCore\Api\Data\EntityTypeInterface" type="Ainnomix\EtmCore\Model\Data\EntityType" />
    <preference for="Ainnomix\EtmCore\Api\EntityTypeRepositoryInterface" type="Ainnomix\EtmCore\Model\EntityTypeRepository" />
    <preference for="Ainnomix\EtmCore\Api\Data\EntityTypeSearchResultsInterface" type="Ainnomix\EtmCore\Model\Data\EntityTypeSearchResults" />

    <preference for="Ainnomix\EtmCore\Model\EntityType\Command\GetInterface" type="Ainnomix\EtmCore\Model\EntityType\Command\Get"/>
    <preference for="Ainnomix\EtmCore\Model\EntityType\Command\GetByIdInterface" type="Ainnomix\EtmCore\Model\EntityType\Command\GetById"/>
    <preference for="Ainnomix\EtmCore\Model\EntityType\Command\GetListInterface" type="Ainnomix\EtmCore\Model\EntityType\Command\GetList"/>
    <preference for="Ainnomix\EtmCore\Model\EntityType\Command\SaveInterface" type="Ainnomix\EtmCore\Model\EntityType\Command\Save"/>
    <preference for="Ainnomix\EtmCore\Model\EntityType\Command\DeleteByIdInterface" type="Ainnomix\EtmCore\Model\EntityType\Command\DeleteById"/>

    <preference for="Ainnomix\EtmCore\Model\EntityTypeValidatorInterface" type="Ainnomix\EtmCore\Model\EntityTypeValidatorChain"/>

    <type name="Ainnomix\EtmCore\Model\EntityType">
        <arguments>
            <argument name="dataObjectHelper" xsi:type="object">Magento\Framework\Api\DataObjectHelper\Proxy</argument>
            <argument name="validator" xsi:type="object">Ainnomix\EtmCore\Model\EntityType\ValidationAdapter\Proxy</argument>
        </arguments>
    </type>

    <type name="Ainnomix\EtmCore\Model\EntityTypeRepository">
        <arguments>
            <argument name="commandGet" xsi:type="object">Ainnomix\EtmCore\Model\EntityType\Command\GetInterface\Proxy</argument>
            <argument name="commandGetById" xsi:type="object">Ainnomix\EtmCore\Model\EntityType\Command\GetByIdInterface\Proxy</argument>
            <argument name="commandGetList" xsi:type="object">Ainnomix\EtmCore\Model\EntityType\Command\GetListInterface\Proxy</argument>
            <argument name="commandSave" xsi:type="object">Ainnomix\EtmCore\Model\EntityType\Command\SaveInterface\Proxy</argument>
            <argument name="commandDeleteById" xsi:type="object">Ainnomix\EtmCore\Model\EntityType\Command\DeleteByIdInterface\Proxy</argument>
        </arguments>
    </type>
    
    <type name="Ainnomix\EtmCore\Model\EntityTypeValidatorChain">
        <arguments>
            <argument name="validators" xsi:type="array">
                <item name="code" xsi:type="object">Ainnomix\EtmCore\Model\EntityType\Validator\CodeValidator</item>
                <item name="name" xsi:type="object">Ainnomix\EtmCore\Model\EntityType\Validator\NameValidator</item>
                <item name="existence" xsi:type="object">Ainnomix\EtmCore\Model\EntityType\Validator\ExistenceValidator</item>
            </argument>
        </arguments>
    </type>
</config>
